.ele{
    background-color: brown;
    text-align: center;
    padding: 10px;
    font-size: 50px;
    color: blanchedalmond;
    font-family: Georgia, serif;
}

body{
    background-color: rgb(240, 248, 195);
}
.para-div{
    font-size: 20px;
}

.border2pxblack{
    border: solid black 2px;
    margin: 5px;
    padding: 5px;
}