.ele{
    background-color: brown;
    text-align: center;
    padding: 10px;
    font-size: 50px;
    color: blanchedalmond;
    font-family: Georgia, serif;
}
.container{
    
}
body{
    background-color: rgb(96, 199, 234);
}
.paradiv{
    

}