body{
    background-color: rgb(240, 248, 195);
}




.ele{
    background-color: brown;
    text-align: center;
    padding: 10px;
    font-size: 50px;
    color: blanchedalmond;
    font-family: Georgia, serif;
    margin: 10px;
    margin-bottom: 15px;
}


.para-div{
    
   
   
}
.title1{
    font-size: 25px;
    text-decoration: underline;
    background-color: rgb(141, 105, 174);
    padding: 10px;
    margin: 10px;
    width: 30%;
    border-radius: 20px;
    color: blanchedalmond;
    font-family: Georgia, serif;
}
.title2{
  font-size: 25px;
  text-decoration: underline;
  background-color: rgb(141, 105, 174);
  padding: 10px;
  margin: 10px;
  width: 30%;
  border-radius: 20px;
  color: blanchedalmond;
  font-family: Georgia, serif;
}
.title3{
  font-size: 25px;
  text-decoration: underline;
  background-color: rgb(141, 105, 174);
  padding: 10px;
  margin: 10px;
  margin-top: 40px;
  width: 30%;
  border-radius: 20px;
  color: blanchedalmond;
  font-family: Georgia, serif;
}
.title4{
  font-size: 25px;
  text-decoration: underline;
  background-color: rgb(141, 105, 174);
  padding: 10px;
  margin: 10px;
  width: 30%;
  border-radius: 20px;
  color: blanchedalmond;
  font-family: Georgia, serif;
}
.title5{
  font-size: 25px;
  text-decoration: underline;
  background-color: rgb(141, 105, 174);
  padding: 10px;
  margin: 10px;
  width: 30%;
  border-radius: 20px;
  color: blanchedalmond;
  font-family: Georgia, serif;
}
.para{
    font-size: 20px;
    padding: 5px;
    margin-top: 10px;

}
.check-div{
    
    margin-top: 10px;
    margin-left: 8px;
    
}
.faram{
    font-size: 25px;
    margin-left: 5px;
   
}
    
input.checkbox1{
    height: 25px;
    width: 30px;
 }
 input.checkbox2{
    height: 25px;
    width: 30px;
    margin-bottom: 30px;
 }
  .textarea1{
    font-size: 20px;
    margin-left: 10px;
    margin-top: 15px;
  }
  .textarea2{
    font-size: 20px;
    margin-left: 10px;
    margin-top: 0px;
  }
  .textarea3{
    font-size: 20px;
    margin-left: 10px;
  }
  
  .textarea4{
    font-size: 20px;
    margin-left: 10px;

  }
  .small{
  }
  .review{
    padding: 10px;
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 15px;
  }


  .uploaddiv{
    margin-top: 15px;
    margin-bottom: 30px;
  }

 .uploadfield{
   margin-left: 10px;
 }

  .displayflex{
    display: flex;
  }

.aai1{
  margin-top: 15px;
  margin-left: 0px;
  height: 400px;
  width:35%;
  border-style:ridge;
}
.aai2{
  margin-top: 15px;
  height: 400px;
  width:35%;
  border-style:ridge;
}
.box1{
margin-top: 10px;
}
.box2{
margin-top: 30px;
}
.box3{
  margin-top: 10px;
}
.box4{
  margin-top: 10px;
}
}
.box5{
  margin-top:5px ;
}
.lastbox{
  display: flex;
}